{{- $paginator := .Paginator -}}
{{- if gt $paginator.TotalPages 1 -}}
<nav class="pagination">
    {{- if $paginator.HasPrev -}}
        <a href="{{ $paginator.Prev.URL }}" class="pagination-prev">« Önceki</a>
    {{- end -}}

    {{- $current := $paginator.PageNumber -}}
    {{- $total := $paginator.TotalPages -}}

    {{- if gt $current 3 -}}
        <a href="{{ $paginator.First.URL }}">1</a>
        {{- if gt $current 4 -}}<span>...</span>{{- end -}}
    {{- end -}}

    {{- range $paginator.Pagers -}}
        {{- $num := .PageNumber -}}
        {{- if and (ge $num (sub $current 2)) (le $num (add $current 2)) -}}
            {{- if eq $num $current -}}
                <span class="pagination-current">{{ $num }}</span>
            {{- else -}}
                <a href="{{ .URL }}">{{ $num }}</a>
            {{- end -}}
        {{- end -}}
    {{- end -}}

    {{- if lt $current (sub $total 2) -}}
        {{- if lt $current (sub $total 3) -}}<span>...</span>{{- end -}}
        <a href="{{ $paginator.Last.URL }}">{{ $total }}</a>
    {{- end -}}

    {{- if $paginator.HasNext -}}
        <a href="{{ $paginator.Next.URL }}" class="pagination-next">Sonraki »</a>
    {{- end -}}
</nav>
{{- end -}}